@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal:#A8A878;
    --type-fire:#F08030;
    --type-water:#6890F0;
    --type-grass:#78C850;
    --type-electric:#F8D030;
    --type-ice:#9890B0;
    --type-fighting:#C03028;
    --type-poison:#A040A0;
    --type-ground:#E0C068;
    --type-flying:#A890F0;
    --type-psychic:#F85888;
    --type-bug:#A8B820;
    --type-rock:#B8A038;
    --type-ghost:#705898;
    --type-dark:#705848;
    --type-dragon:#7038f8;
    --type-steel:#B8B8d0;
    --type-fairy:#f0b6bc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

ul{
    list-style-type: none;
}

button {
    background-color: transparent;
    border-radius: 100vmax;
}

body    {
    min-height: 100vh;
    background-color: var(--clr-gray);
}

.header  {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

.logo {
    flex-wrap: wrap;
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    transition: transform .3s;
}

.search-container {
    display: flex;
    flex: 1;
    max-width: 75%;
    gap: .5rem;
}

.search-bar{
    flex: 1;
    padding: 0.6rem 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
}

.btn {
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 8px 14px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.3);
}

.btn-favorito {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.2s;
}

.btn-favorito i{
    font-size: 24px;
    color:black;
    transition: color 0.3s ease;
}

.btn-favorito i.favorito-activo {
    color: gold;
}

.btn-favorito:hover i.favorito-activo{
    color: goldenrod;

}

#paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.btn-paginacion {
    background-color: #ff4757;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-paginacion:hover {
    background-color: #ff6b81;
    transform: scale(1.1);
}

.pagina-info {
    font-weight: bold;
    font-size: 14px;
    color: #2f3542;
}

.filters {
    margin-top: 2rem;
    text-align: center;
}

.filters ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem;
    list-style: none;
    padding: 0;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon-todos {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media screen and (min-width: 470px) {
    .pokemon-todos{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px){
    .pokemon-todos{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

.pokemon {
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokemon:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
}

.pokemon-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-imagen img{
    width: 100%;
    max-width: 6rem;
    transition: transform 0.3s ease;
}

.pokemon-imagen img:hover {
    transform: scale(1.1);
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color:   var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon-nombre{
    font-size: 1.4rem;
}

.pokemon-tipos p {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    margin: 0.2rem;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
    border-radius: 100vmax;
}

.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.ver-todos{
    background-color: var(--clr-white);
    color: var(--clr-black);
    border-radius: 100vmax;
}

.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
    border-radius: 100vmax;
}

.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
    border-radius: 100vmax;
}

.water {
    background-color: var(--type-water);
    color: var(--clr-white);    
    border-radius: 100vmax;
}

.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);    
    border-radius: 100vmax;
}

.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);    
    border-radius: 100vmax;
}

.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);    
    border-radius: 100vmax;
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);    
    border-radius: 100vmax;
}

.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);    
    border-radius: 100vmax;
}

.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
    border-radius: 100vmax;
}

.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);    
    border-radius: 100vmax;
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);    
    border-radius: 100vmax;
}

.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);    
    border-radius: 100vmax;
}

.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);    
    border-radius: 100vmax;
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);    
    border-radius: 100vmax;
}

.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);    
    border-radius: 100vmax;
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);    
    border-radius: 100vmax;
}

.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);    
    border-radius: 100vmax;
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);    
    border-radius: 100vmax;
}